spdysvc/SpdySvc/Service References/Service.HireService/HireService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.HireService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.HireService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://speedyservices.speedytest.co.uk/HireService/HireService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.Common" />
  <xs:complexType name="PreHireRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.Common" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CardCharges" nillable="true" type="q1:CardChargesDto" />
          <xs:element minOccurs="0" name="CustomerOrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliverTo" nillable="true" type="q1:PersonDto" />
          <xs:element minOccurs="0" name="DeliveryInstructions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepotDeliveryCharge" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpectedOffHireDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OnHireDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OrderedBy" nillable="true" type="q1:PersonDto" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="q1:ArrayOfRequestProductDto" />
          <xs:element minOccurs="0" name="RetailDeliveryCharge" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebOrderNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreHireRequest" nillable="true" type="tns:PreHireRequest" />
  <xs:simpleType name="HireLineType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SingleLine" />
      <xs:enumeration value="MainKitLine" />
      <xs:enumeration value="ComponentKitLine" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HireLineType" nillable="true" type="tns:HireLineType" />
</xs:schema>