spdysvc/SpdySvc/Service References/Service.PriceService/PriceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.HireService" />
  <xs:complexType name="BaseRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AxaptaCompany" type="tns:AxaptaCompanyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="BaseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseMessage" nillable="true" type="tns:BaseMessage" />
  <xs:simpleType name="AxaptaCompanyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SAS" />
      <xs:enumeration value="BAS" />
      <xs:enumeration value="DUB" />
      <xs:enumeration value="NIR" />
      <xs:enumeration value="SIR" />
      <xs:enumeration value="EGT" />
      <xs:enumeration value="OMA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AxaptaCompanyType" nillable="true" type="tns:AxaptaCompanyType" />
  <xs:simpleType name="CurrencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GBP" />
      <xs:enumeration value="EUR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CurrencyType" nillable="true" type="tns:CurrencyType" />
  <xs:complexType name="ArrayOfRequestProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestProductDto" nillable="true" type="tns:RequestProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestProductDto" nillable="true" type="tns:ArrayOfRequestProductDto" />
  <xs:complexType name="RequestProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.HireService" minOccurs="0" name="ProductIndicator" nillable="true" type="q1:HireLineType" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestProductDto" nillable="true" type="tns:RequestProductDto" />
  <xs:complexType name="BaseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="Error" nillable="true" type="tns:ErrorDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ErrorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDto" nillable="true" type="tns:ErrorDto" />
  <xs:simpleType name="AccountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Credit" />
      <xs:enumeration value="PAYG" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountType" nillable="true" type="tns:AccountType" />
  <xs:simpleType name="RateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OneDay" />
      <xs:enumeration value="TwoDays" />
      <xs:enumeration value="ThreeDays" />
      <xs:enumeration value="Week" />
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Loss" />
      <xs:enumeration value="Sale" />
      <xs:enumeration value="MinimumWeek" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RateType" nillable="true" type="tns:RateType" />
</xs:schema>