spdysvc/SpdySvc/Service References/Service.PriceService/PriceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PriceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPriceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.Exceptions" />
      <xsd:import schemaLocation="http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.PriceService" />
      <xsd:import schemaLocation="http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.Common" />
      <xsd:import schemaLocation="http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.HireService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPriceService_GetHireRatesDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHireRatesDetail" />
  </wsdl:message>
  <wsdl:message name="IPriceService_GetHireRatesDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHireRatesDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPriceService_GetHireRatesDetail_SpeedyFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.Exceptions" name="detail" element="q1:SpeedyFault" />
  </wsdl:message>
  <wsdl:message name="IPriceService_GetHireRatesSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHireRatesSummary" />
  </wsdl:message>
  <wsdl:message name="IPriceService_GetHireRatesSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHireRatesSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IPriceService_GetHireRatesSummary_SpeedyFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.Exceptions" name="detail" element="q2:SpeedyFault" />
  </wsdl:message>
  <wsdl:message name="IPriceService_CanGetPriceFromAxapta_InputMessage">
    <wsdl:part name="parameters" element="tns:CanGetPriceFromAxapta" />
  </wsdl:message>
  <wsdl:message name="IPriceService_CanGetPriceFromAxapta_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanGetPriceFromAxaptaResponse" />
  </wsdl:message>
  <wsdl:message name="IPriceService_CanGetPriceFromAxapta_SpeedyFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.Exceptions" name="detail" element="q3:SpeedyFault" />
  </wsdl:message>
  <wsdl:portType name="IPriceService">
    <wsdl:operation name="GetHireRatesDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceService/GetHireRatesDetail" message="tns:IPriceService_GetHireRatesDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceService/GetHireRatesDetailResponse" message="tns:IPriceService_GetHireRatesDetail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPriceService/GetHireRatesDetailSpeedyFaultFault" name="SpeedyFaultFault" message="tns:IPriceService_GetHireRatesDetail_SpeedyFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHireRatesSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceService/GetHireRatesSummary" message="tns:IPriceService_GetHireRatesSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceService/GetHireRatesSummaryResponse" message="tns:IPriceService_GetHireRatesSummary_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPriceService/GetHireRatesSummarySpeedyFaultFault" name="SpeedyFaultFault" message="tns:IPriceService_GetHireRatesSummary_SpeedyFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanGetPriceFromAxapta">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceService/CanGetPriceFromAxapta" message="tns:IPriceService_CanGetPriceFromAxapta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceService/CanGetPriceFromAxaptaResponse" message="tns:IPriceService_CanGetPriceFromAxapta_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPriceService/CanGetPriceFromAxaptaSpeedyFaultFault" name="SpeedyFaultFault" message="tns:IPriceService_CanGetPriceFromAxapta_SpeedyFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPriceService" type="tns:IPriceService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPriceService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHireRatesDetail">
      <soap12:operation soapAction="http://tempuri.org/IPriceService/GetHireRatesDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SpeedyFaultFault">
        <soap12:fault use="literal" name="SpeedyFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHireRatesSummary">
      <soap12:operation soapAction="http://tempuri.org/IPriceService/GetHireRatesSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SpeedyFaultFault">
        <soap12:fault use="literal" name="SpeedyFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CanGetPriceFromAxapta">
      <soap12:operation soapAction="http://tempuri.org/IPriceService/CanGetPriceFromAxapta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SpeedyFaultFault">
        <soap12:fault use="literal" name="SpeedyFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PriceService">
    <wsdl:port name="WSHttpBinding_IPriceService" binding="tns:WSHttpBinding_IPriceService">
      <soap12:address location="http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>