spdysvc/SpdySvc/Service References/Service.PriceService/PriceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://speedyservices.speedytest.co.uk/PriceService/PriceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.PriceService" />
  <xs:element name="GetHireRatesDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.PriceService" minOccurs="0" name="request" nillable="true" type="q1:PriceEnquiryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireRatesDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.PriceService" minOccurs="0" name="GetHireRatesDetailResult" nillable="true" type="q2:PriceEnquiryDetailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireRatesSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.PriceService" minOccurs="0" name="request" nillable="true" type="q3:PriceEnquiryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireRatesSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Speedy.DataTransferObjects.PriceService" minOccurs="0" name="GetHireRatesSummaryResult" nillable="true" type="q4:PriceEnquirySummaryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanGetPriceFromAxapta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CanGetPriceFromAxaptaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanGetPriceFromAxaptaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>